body {
  margin: 0;
  padding: 20px;
  display: flex;
}

.header {
  height: 100px;
  display: flex;
}
/* 
#headerText {
  height: 100px;
  display: flex;
  flex-flow:column nowrap;
} */

.navBtns {
  margin: 20px 0 0 0;

}

.mainDisplay {
  margin:20px 0 0 0;
  border: 1px solid black;
  padding:5px;
}
